body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.station-image {
  background-image: url("/Images/station.jpg");
  background-size: cover;
  padding: 200px;
  width: 210px;
  margin: auto;
  margin-top: 130px;
  border-radius: 5px;
  text-align: center;
}

.text {
  background-color: #ff6f61;
  border-radius: 20px;
  opacity: 0.8;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

h1 {
  text-align: center;
  color: black;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

button {
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#increment-btn {
  background: #34568b;
  opacity: 0.8;
  width: 130px;
  margin-top: 10px;
  font-size: 15px;
}

#increment-btn:hover {
  opacity: 1;
}

#save-btn {
  background: darkgreen;
  opacity: 0.8;
  width: 130px;
  margin-top: 10px;
  font-size: 15px;
}

#save-btn:hover {
  opacity: 1;
}

p {
  background-color: #dfcfbe;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  color: #333333;
  text-align: center;
}
